
<div class="jumbotron">
  <div class="row">
    <div class="col-xs-1 logo hidden-xs hidden-sm"></div>
    <div class ="col-xs-3 logo hidden-xs hidden-sm">
      <div class="col-xs-5">
        <%= image_tag "cornballer-logo.png", :class => "img-responsive" %>
      </div>
      <div class="col-xs-7">
        <h6 class="text-left">A Bluth Product</h6>
      </div>
    </div>
    <div class="col-xs-5 logo hidden-xs"></div>
    <div class="col-md-3 col-sm-12">
      <ul class="nav nav-pills text-center">
        <li role="presentation"><a href = "#">ABOUT</a></li>
        <li role="presentation"><a href = "#">SEARCH <span class="glyphicon glyphicon-search white"></span></a></li>
      </ul>
    </div>
  </div>
  <div class="hidden-lg hidden-md col-12-xs">
    <%= image_tag "cornballer-logo.png", :class => "img-responsive center-block" %>
  </div>
  <div class ="row">
    <h1 class = "col-xs-12 text-center band-name">The Cornballer</h1>
  </div>
</div>
<div class="container">
  <div class="col-xs-1"></div>
  <div class="col-md-7 col-lg-7 col-sm-12 main-content">
    <div class="row">
      <h1 class="headline"><%= @post_info.title %></h1>
      <div class="row">
        <div class="col-xs-1">
          <%= image_tag "george_bluth", :class => "img-circle center-block author-pic" %>
        </div>
        <div class="col-xs-11 text-left">
          <p><a href="#"><%= @post_info.author %></a> on <%= @post_info.created_at %></p>
        </div>
      </div>
      <%= simple_format(@post_info.body) %>
    </div>
    <div class="row">
      <div class="col-xs-12 article-options">
        <div class="col-xs-3 btn btn-default" type="button"><span class="glyphicon glyphicon-comment"></span> View Comments</div>
        <div class="col-xs-3 btn btn-default" type="button"><span class="glyphicon glyphicon-cloud-upload"></span> Read Later</div>
        <div class="col-xs-3 btn btn-default" type="button"><span class="glyphicon glyphicon-share-alt"></span> Share Post</div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 sidebar">
    <div class="row">
      <%= image_tag "george_bluth",  :class => "img-circle center-block profile-pic" %>
      <h3 class="text-center profile"><%= @post_info.author %></h3>
      <div class="col-xs-1"></div>
      <div class="col-xs-3 social-profile text-center"><a>Twitter</a>
      </div>
      <div class="col-xs-3 social-profile text-center"><a>Facebook</a>
      </div>
      <div class="col-xs-3 social-profile text-center"><a>Instagram</a>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <a href="#"><%= image_tag "cornball-ad.jpg", :class => "col-xs-12 advertisement img-responsive" %></a>
    </div>
    <div class="row">
      <a href= "#"><div class= "col-xs-12 text-right"/>about this add</div></a>
    </div>
    <div class="row">
      <h3>Michael Bluth Discourages Use of Cornballer</h3>
      <p>It walked on my pillow! I hear the jury's still out on science. I call it Tricks ... wait for it ... Around The Office. Everybody dance... NOW. I'm tired of trying to find happiness through lies and self-medicating. If you need me, I'll be at the bar.</p>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
<div class="container content-separator">
  <div class="col-xs-12 text-center">
    <h1>OTHER POPULAR POSTS!</h1>
  </div>
</div>
<div class="container-fluid other-products">
  <% i=1 %>
  <% @other_posts.each do |p| %>

    <div class="col-lg-3 col-md-3 col-sm-12  product<%= i %>">
      <div class="col-lg-3 col-md-3 col-sm-12  overlay">
        <h1><%= p.title %></h1>
      </div>
    </div>
    <% i+=1 %>
  <% end %>
</div>
<footer class="container-fluid">
  <div class="col-xs-1"></div>
  <div class="ccol-lg-4 col-md-4 col-sm-12  footer-logo">
    <%= image_tag "mr-banana-grabber.png", :class => "img-responsive" %>
    <p>Bluth Industries</p>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-lg-5 col-md-5 col-sm-12  container-fluid">
    <ul class="nav navbar-nav footer-nav">
        <li><a href="#">link2</a></li>
        <li><a href="#">link3</a></li>
        <li><a href="#">link4</a></li>
        <li><a href="#">link5</a></li>
  </div>
</footer>
