<div class="container">
  <div class="col-xs-1"></div>
  <div class="col-md-7 col-lg-7 col-sm-12 main-content">
    <div class="row">
      <h1 class="headline"><%= @post_info.title %></h1>
      <div class="row">
        <div class="col-xs-1">
          <%= image_tag @post_info.auth_image, :class => "img-circle center-block author-pic" %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 text-left">
          <p><a href="#"><%= @post_info.author.name %></a> on <%= @post_info.created_at %></p>
        </div>
      </div>
      <%= simple_format(@post_info.body) %>
      <%= image_tag @post_info.post_image, :class => "center-block post-image" %>
    </div>
    <div class="row">
      <div class="col-xs-12 article-options">
        <div class="col-xs-3 col-md-4 btn btn-default" type="button">
          <div class="col-xs-12 col-md-2">
            <span class="glyphicon glyphicon-comment"></span>
          </div>
          <div class="hidden-xs hidden-sm col-md-10">
            View Comments
          </div>
        </div>
        <div class="col-xs-3 btn btn-default" type="button">
          <div class="col-xs-12 col-md-2">
            <span class="glyphicon glyphicon-cloud-upload"></span>
          </div>
          <div class="hidden-xs hidden-sm col-md-10">
            Read Later
          </div>
        </div>
        <div class="col-xs-3 btn btn-default" type="button">
          <div class="col-xs-12 col-md-2">
            <span class="glyphicon glyphicon-share-alt"></span>
          </div>
          <div class="hidden-xs hidden-sm col-md-10">
            Share Post
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-12 sidebar">
    <div class="row">
      <%= image_tag @post_info.auth_image,  :class => "img-circle center-block profile-pic" %>
      <h3 class="text-center profile"><%= @post_info.author.name %></h3>
      <div class="col-xs-1"></div>
      <div class="col-xs-3 social-profile text-center"><a>Twitter</a>
      </div>
      <div class="col-xs-3 social-profile text-center"><a>Facebook</a>
      </div>
      <div class="col-xs-3 social-profile text-center"><a>Instagram</a>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row">
      <a href="#"><%= image_tag "cornball-ad.jpg", :class => "col-xs-12 advertisement img-responsive" %></a>
    </div>
    <div class="row">
      <a href= "#"><div class= "col-xs-12 text-right"/>about this add</div></a>
    </div>
    <div class="row">
      <h3>Michael Bluth Discourages Use of Cornballer</h3>
      <p>It walked on my pillow! I hear the jury's still out on science. I call it Tricks ... wait for it ... Around The Office. Everybody dance... NOW. I'm tired of trying to find happiness through lies and self-medicating. If you need me, I'll be at the bar.</p>
    </div>
  </div>
  <div class="col-xs-1"></div>
</div>
