<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @post_info != nil %>
      <%= @post_info.title %>
    <% else %>
      <%= "Saturn Inc." %>
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="jumbotron">
    <div class="jumbo-overlay">
      <div class="row">
        <div class="col-xs-1 logo hidden-xs hidden-sm"></div>
        <div class ="col-xs-3 logo hidden-xs hidden-sm">
          <%= link_to root_path do %>
          <div class="col-xs-5">
            <%= image_tag "saturn.jpg", :class => "img-responsive" %>
          </div>
          <div class="col-xs-7">
            <h6 class="text-left logo_text">Saturn Inc.</h6>
          </div>
          <% end %>
        </div>
        <div class="col-xs-5 logo hidden-xs"></div>
        <div class="col-md-4 col-md-offset-3 col-sm-12">
          <ul class="nav nav-pills text-center">
            <li role="presentation"><%= link_to "ABOUT", about_path %></li>
            <li role="presentation">
              <%= link_to search_path do%>
              SEARCH <span class="glyphicon glyphicon-search white"></span>
            <% end %>
            </li>
            <li role="presentation"><%= link_to "NEW POST", new_post_path %></li>
            <li role="presentation"><%= link_to "AUTHORS", authors_path %></li>
          </div>
        </ul>
      </div>
      <div class="hidden-lg hidden-md col-12-xs">
        <%= image_tag "saturn.jpg", :class => "img-responsive center-block main-logo" %>
      </div>
      <div class ="row">
        <h1 class = "col-xs-12 text-center band-name">The Space Blog</h1>
      </div>
    </div>
  </div>
  <%= yield %>
  <div class="container content-separator">
    <div class="col-xs-12 text-center">
      <h1>
        <% if @post_info != nil %>
          <%= "OTHER POPULAR POSTS!" %>
        <% else %>
          <%= "RECENT POSTS!" %>
        <% end %>
      </h1>
    </div>
  </div>
  <div class="container-fluid other-products">
    <% i=1 %>
    <% @other_posts.sort_by{|p| p.created_at.to_f}.reverse.take(4).each do |p| %>
      <%= link_to post_path(:id => p.id) do%>
        <div class="col-lg-3 col-md-3 col-sm-12  product<%= i %>">
          <div class="col-lg-3 col-md-3 col-sm-12  overlay">
            <h3><%= p.title %></h3>
          </div>
        </div>
      <% end %>
      <% i+=1 %>
    <% end %>
  </div>
  <footer class="container-fluid">
    <div class="col-xs-1"></div>
    <%= link_to about_path do %>
    <div class="col-lg-4 col-md-4 col-sm-12  footer-logo">
      <%= image_tag "saturn.jpg", :class => "img-responsive" %>
      <p> Saturn Inc.</p>
    </div>
    <% end %>
    <div class="col-xs-2"></div>
    <div class="col-lg-5 col-md-5 col-sm-12  container-fluid">
      <ul class="nav navbar-nav footer-nav">
          <li><a href="http://www.google.com">Google</a></li>
          <li><a href="http://www.yahoo.com">Yahoo</a></li>
          <li><a href="http://www.aol.com">AOL</a></li>
          <li><a href="http://www.imdb.com">IMDB</a></li>
          <li><a href="http://www.apple.com">Apple</a></li>
    </div>
  </footer>
</body>
</html>
